table, td {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.month {
    background-color: #1d3e53;
    transition: 0.1s;
    width: 100%;
    position: sticky;
    z-index: 3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.month:hover {
    background-color: #0d7377;
}
.today {
    background-color: #77abb7;
    transition: 0.1s;
    min-width: 50px;
    max-width: 50px;
    position: sticky;
    z-index: 3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.today:hover {
    background-color: #0d7377;
}
.weekend {
    background-color: #476d7c;
    transition: 0.1s;
    min-width: 50px;
    max-width: 50px;
    position: sticky;
    z-index: 3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.weekend:hover {
    background-color: #0d7377;
}
.weekday {
    background-color: #254b62;
    transition: 0.1s;
    min-width: 50px;
    max-width: 50px;
    position: sticky;
    z-index: 3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.weekday:hover {
    background-color: #0d7377;
}

.evenRow {
    background-color: #525252;
    position: relative;
    /* border-radius: 2px;    */
    transition: 0.1s;
    min-width: 50px;
    max-width: 50px;
    height: 30px;
}
.oddRow {
    background-color: #414141;
    position: relative;
    /* border-radius: 2px; */
    transition: 0.1s;
    min-width: 50px;
    max-width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.leftHeader {
    width: 16.66%;
    background-color: #1d3e53;
    transition: 0.1s;
    position: sticky;
    z-index: 3;
    border-bottom: 1px solid white;
    border-right: 1px solid white;

}

.leftRow {
    display: flex;
    background-color: #0d7377;
    width: 100%;
    position: relative;
    transition: 0.1s;
    height: 30px;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.mainTableContainer {
    width: 100%;
    overflow: scroll;
    position: relative;
    height: 70vh;
}
.mainTable {
    position: relative;
}
.leftTableContainer {
    width: 100%;
    height: 70vh;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    position: relative;
}
.leftTable {
    width: 100%;
    position: relative;
}

.leftTableContainer::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}
.evenRow:hover, .oddRow:hover {
    background-color: rgba(13, 115, 119, 0.5) !important;
}

table>tbody>tr>td {
    position: relative;
    /* border-radius: 2px; */
    text-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    text-align: center;
    z-index: 2;
    min-height: 32px;
    max-height: 32px;
    transition: 0.2s;
}
thead tr:nth-child(1) th {
    position: sticky;
    top: 0;
  }
thead tr:nth-child(2) th {
    position: sticky;
    top: 22px;
  }
.taskInfoContainer {
    position: absolute;
    height: 25vh;
}
.row {
    height: 5vh;
    width: 100%;
}
/* .themeContainer {
    
} */